/* .blue-header-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}
.ntaryellow-image {
  width: 20%;
  height: 25px;
}

.tabs-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  font-family: "Youth";
}

.header-2 {
  background-color: #141414;
  height: 35px;
  padding: 10px;
  margin: 0;
}

.blue-container {
  background-color: #3103eb;
  height: auto;
  overflow: hidden;
  width: 100%;
  height: 800px;
}

.bluebox-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 50px;
  text-align: center;
  font-family: "Youth";
}

.white-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
  font-weight: 700;
  margin: -4%;
  font-family: "Youth";
}

.gif {
  width: 15%;
  margin-left: -4%;
}

.ntar-begins {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -2%;
  margin-left: -3%;
}
.contentbox-1 {
  background-color: white;
  height: 350px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  column-gap: 15%;
  width: 100%;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -30%;
  font-family: "Youth";
}

.mobile-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
  height: 350px;
  width: auto;
}

.mobile-image-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-750%, -20%);
  height: auto;
  width: 30%;
  max-width: 200px;
  object-fit: cover;
}

.text-container {
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: "Youth";
}

.subtext-container {
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Youth";
}

.oneapp-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: "Youth";
}

.longtext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: "Youth";
}

.cards-div {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.card-container {
  position: relative;
  width: 100%;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.blue-mobile-imge{
  align-items: center;
  justify-content: center;
  display: flex;
}

.card-image-con {
  display: block;
  width: 85%;
  height: auto;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.card-text {
  position: absolute;
  color: white;
  font-size: 43px;
  top: -10%;
  left: 35%;
  font-weight: 700;
  font-family: "Youth";
}

.card-sub-text {
  position: absolute;
  color: white;
  top: 18%;
  left: 8%;
  font-size: 26px;
  font-weight: 700;
  font-family: "Youth";
}

.iconpng {
  position: absolute;
  top: 83%;
  left: 5%;
  width: 12%;
}

.explorepng {
  position: absolute;
  top: 90%;
  left: 87%;
  width: 4%;
}
.ntarpay {
  flex-direction: row;
  position: absolute;
  font-size: 26px;
  top: 80%;
  left: 19%;
  color: white;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
}

.exploremore {
  position: absolute;
  top: 86%;
  left: 75%;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.downset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sub-card-text {
  color: white;
  font-size: 10px;
  font-weight: 400;
  padding: 0px 15px;
  width: 60%;
  font-family: "Youth";
}


.contentboxwhite-2 {
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-up-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -10%;
  font-family: "Youth";
}

.text-bold-container {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  font-family: "Youth";
}

.text-bold2-container2 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20;
  width: 80%;
  font-family: "Youth";
}
.subtext-normal-container {
  color: black;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 10px 0 0;
  width: 100%;
  font-family: "Youth";
}
.mob-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  width: 80%;
  height: 264px;
  align-self: center;
}

.mobile-card-2 {
  width: 85%;
  height: 240px;
  align-self: center;
  overflow: hidden;
  margin-left: -15%;
}

.cards-image {
  width: 90%;
  height: 220px;
  margin-left: 30px;
}

.exButton {
  background-color: #3103eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  height: 30px;
  width: 120px;
  font-family: "Youth";
}

.button-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowicon-2 {
  width: 12%;
}

.comingsoon-nav {
  background-color: #f9e400;
  border-radius: 15px;
  width: 60px;
  height: 16px;
  color: black;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.comingsoon-text-nav {
  font-size: 9px;
  margin: 0px;
  font-weight: 400;
  display: flex;
  align-self: center;
  font-family: "Youth";
}

.treeicon {
  width: 12%;
}
.ntarsmallgif {
  width: 20%;
  margin: -30px;
}
.moneygrow {
  font-size: 48px;
  font-weight: bold;
  font-family: "Youth";
}

.contentboxwhite-5 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Youth";
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;
  width: 100%;
}
.sectioncard {
  width: 90%;
  max-width: 90%;
  height: auto; 
  margin: 0; 
  padding: 0;
  display: block; 
  position: relative;
}

.comingsoon-section {
  background-color: #f9e400;
  border-radius: 15px;
  width: 90px;
  height: 25px;
  color: black;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 20px;
  z-index: 5;
}

.comingsoon-text-section {
  font-size: 12px;
  margin: 0px;
  font-weight: 600;
  display: flex;
  align-self: center;
  font-family: "Youth";
}

.section-cards {
  display: flex;
  flex-direction: row;
  position: relative;
  column-gap: -10px;
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}
.section-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.pots {
  position: absolute;
  top: 16%;
  left: 8%;
  font-weight: bold;
  font-size: 30px;
  z-index: 10;
}
.create-custom {
  position: absolute;
  top: 40%;
  left: 8%;
  font-weight: 400;
  font-size: 12px;
  width: 48%;
}

.contentboxorange-6 {
  background: #ff5613;
  width: 100%;
  height: auto;
  padding: 40px;
}

.orgphone {
  width: 15%;
  margin-left: 5%;
}

.org-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10%;
}
.org-text {
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: "Youth";
  font-weight: bold;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.letsbutton {
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Youth";
}
.letsntarsweet-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
  font-family: "Youth";
}
.letsbutton-2 {
  border: 2px solid white;
  border-radius: 5px;
  background: white;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  font-family: "Youth";
}

.whitearrow {
  width: 12%;
}

.contentboxblack-7 {
  background: black;
  width: 100%;
  height: auto;
  padding: 40px;
}

.white-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
  font-weight: 700;
  margin: -4%;
  font-family: "Youth";
}

.gif2 {
  width: 25%;
  margin-left: -4%;
}

.gif2-yellow {
  width: 20%;
}

.ntar-begins2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -2%;
  margin-left: -3%;
  font-family: "Youth";
}

.magicmoney-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.magicmoney-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
}

.magic-money {
  text-align: center;
  color: white;
  line-height: 1.2;
  font-size: 60px;
  font-weight: bold;
  margin-right: -8%;
  font-family: "Youth";
}

.magic {
  text-align: center;
  color: white;
  line-height: 1.2;
  font-size: 60px;
  font-weight: bold;
  margin-left: -8%;
  font-family: "Youth";
}

.magic-lets {
  text-align: center;
  color: white;
  line-height: 1.2;
  font-size: 138px;
  font-weight: bold;
  margin-right: -4%;
  font-family: "Youth";
}

.magic-lets2 {
  text-align: center;
  color: white;
  line-height: 1.2;
  font-size: 138px;
  font-weight: bold;
  margin-left: -4%;
  font-family: "Youth";
}
.ntarway {
  text-align: center;
  color: white;
  line-height: 1.2;
  font-size: 60px;
  font-weight: bold;
  margin-top: -4%;
  margin-left: -4%;
}

.gif2 {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.yellow-blue-text {
  color: #f9e400;
  font-size: 88.37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-family: "Youth";
  letter-spacing: 0;
  font-weight: 500;
}

.white-blue-text {
  color: white;
  font-size: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Youth";
  margin: 0px;
  font-weight: 500;
}

.footer-middle-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qrcode {
  width: 30%;
  margin-left: -4%;
}

.appstore-button {
  border: 2px solid white;
  border-radius: 5px;
  width: 10%;
  height: 30px;
  color: white;
}

.apple-icon {
  width: 10%;
}

.playstore-button {
  width: 10%;
}

.store-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 20px;
}

.gray-box {
  width: 20%;
  height: 200px;
  border-radius: 10px;
  background: #d9d9d9;
  margin-left: -60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  font-family: "Youth";
}
.gray-box-div {
  display: flex;
  flex-direction: row;
  font-family: "Youth";
}

.two-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  flex-direction: row;
  column-gap: 8%;
  margin-left: 10%;
  font-family: "Youth";
}

.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.category-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.category-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12%;
}

.category-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.header-text {
  color: #c2c2c2;
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "Youth";
}

.subcategories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Youth";
}

.subcategory-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-family: "Youth";
}

.horizontalLine-1 {
  width: 700px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 5%;
  font-family: "Youth";
}

.subcategory {
  color: white;
  font-size: 18px;
  white-space: nowrap;
  margin: 0px;
  font-family: "Youth";
}

.after-horizontal-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
  flex-direction: column;
}
.white-headings-privacy {
  color: white;
  width: 100%;
  font-size: 16px;
  text-wrap: nowrap;
  margin-left: 47%;
  font-family: "Youth";
}

.white-headings-terms {
  color: white;
  width: 100%;
  font-size: 16px;
  text-wrap: nowrap;
  margin-left: 47%;
  font-family: "Youth";
}
.gray-headings-get {
  color: #c2c2c2;
  width: 100%;
  font-size: 14px;
  text-wrap: nowrap;
  font-family: "Youth";
}
.address {
  color: white;
  width: 78%;
  font-size: 14px;
  font-family: "Youth";
}

.mail-down {
  color: white;
  margin-left: 8%;
  font-size: 14px;
  font-family: "Youth";
}

.mail {
  color: white;
  font-family: "Youth";
}

.header2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  flex-direction: row;
  column-gap: 35%;
  margin-left: 10%;
  margin-left: -5%;
  font-family: "Youth";
}

.icon-svg {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  row-gap: 25px;
}

.comingsoon-section-footer {
  background-color: #f9e400;
  border-radius: 15px;
  width: 90px;
  height: 25px;
  color: black;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  z-index: 5;
  font-family: "Youth";
}

.pots-comingsoon-button {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.comingsoon-text-small {
  font-size: 8.82px;
  margin: 0px;
  font-weight: 600;
  display: flex;
  align-self: center;
  font-family: "Youth";
}
.address-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
.addressmail-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mail-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
}

.footer-last {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 13%;
}

.social-media {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: white;
  font-weight: 400;
}

.explorearrow {
  width: 15%;
}

.insta p {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
  font-family: "Youth";
}

.scroll-coin-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.total-scroll-container {
  display: flex;
  flex-direction: row;
}
.total-column-div {
  display: flex;
  flex-direction: column;
}
.finance-heading {
  font-size: 56px;
  font-weight: 500px;
  margin-left: -60%;
}

.perfect-heading {
  font-size: 56px;
  font-weight: 500px;
}

.main-head {
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}

.sub-head {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.first-leftside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.head-sub-column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  position: relative;
  width: fit-content; 
  display: inline-block; 
}

.scrolling-gif {
  width: 95%;
  transform: scaleX(-1);
  margin-top: -40%;
}

.scrolling-gif-2 {
  width: 80%;
  margin-top: 10%;
}

.inside-img-text {
  font-size: 44px;
  font-weight: 500;
  top: -126%;
  position: relative;
  left: 30%;
}

.scroll-section-ex-button {
  display: flex;
  justify-content: end;
  margin-top:3%;
  margin-right: -30%;
}
.scroll-section-ex-button-2 {
  display: flex;
  justify-content: end;
  margin-top:20%;
  margin-right: -30%;
}
 */
